<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Plugin Framework QA</title>
    <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <div class="list-group"> 
            <% data_rows.forEach(function(row) { %>
                <div class="list-group-item list-group-item-action flex gap-3 py-3 mx-2 border-b border-gray-200">
                    <div class="flex gap-2 w-full justify-between">
                        <div>
                            <h6 class="mb-0 text-lg font-semibold"><%= row.title %></h6>
                            <p class="mb-0 text-gray-500"><%= row.message %></p>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </body>
</html>
